.div-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #424242;
}
.card-dimension {
  position: absolute;
  box-sizing: border-box;
  width: 1350px;
  height: 700px;
  border-radius: 0;
  padding: 0;
}
