<h2 mat-dialog-title>Select Subject</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose the subject</mat-label>
      <mat-select [(ngModel)]="selectedSubject">
        <mat-option *ngFor="let subject of subjects" [value]="subject">
          {{subject}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <h2>Instructions</h2>
    <p>Total Duration: <span class="bold">30m</span></p>
    <ul class="top-padding">
      <li>Attend All the Questions.</li>
      <br>
      <li>Each question carries one mark, there is no negative mark.</li>
      <br>
      <li>Use Next, Prev buttons or Keyboard Arrow keys or the question panel to navigate between questions.</li>
      <br>
      <li>Click on radio button options, to answer the question.</li>
      <br>
      <li>Use clear button to clear the answered questions.</li>
      <br>
      <li>Do not press back or refresh button.</li>
      <br>
      <li>Do not close the browser tab or window, until the exam is over.</li>
      <br>
      <li>To Submit the test, click on Submit button.</li>
      <br>
      <li>Submit button is visible only after all the questions are visited.</li>
      <br>
      <li>Submit button is visible only after 5m of commencement of the Examination.</li>
    </ul>
    <p class="top-padding">All the Best!!</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align=end>
  <button mat-button [mat-dialog-close]="true" mat-dialog-close color="accent">Cancel</button>
  <button [disabled]="selectedSubject === ''" mat-raised-button [mat-dialog-close]="false" cdkFocusInitial color="primary" (click)="onStart()">Let's Begin</button>
</mat-dialog-actions>
