<mat-sidenav-container class="div-container">
  <mat-sidenav #sidenav mode="over" class="side-nav-mobile">
    <div class="side-nav-title">
      <h2>Question Panel</h2>
      <div class="title-underline">
        <div class="title-circle-left"></div>
        <div class="title-line"></div>
        <div class="title-circle-right"></div>
      </div>
    </div>

    <div class="align-grid">
      <div class="side-nav-grid-mobile">
        <div *ngFor="let no of questionNo; let i = index" (click)="onQuestionChange(no); sidenav.toggle()" class="question-no" [ngClass]="{'active': active[i], 'visited': visited[i], 'answered': answered[i]}">{{no}}</div>
      </div>
    </div>

    <div class="status-panel-mobile">
      <div class="status-el-mobile">
        <div class="status-circle-ans"></div>
        <div class="status-name">Questions<br>Answered</div>
        <div> &nbsp; {{ answeredCount }} </div>
      </div>
      <div class="status-el-mobile">
        <div class="status-circle-unans"></div>
        <div class="status-name">Not Answered</div>
        <div> {{ unansweredCount }} </div>
      </div>
      <div class="status-el-mobile">
        <div class="status-circle-unvis"></div>
        <div class="status-name">Not Visited</div>
        <div> {{ unvisitedCount }} </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="div-container">
    <div class="side-nav">
      <div class="side-nav-title">
        <h2>Question Panel</h2>
        <div class="title-underline">
          <div class="title-circle-left"></div>
          <div class="title-line"></div>
          <div class="title-circle-right"></div>
        </div>
      </div>

      <div class="side-nav-grid">
        <div *ngFor="let no of questionNo; let i = index" (click)="onQuestionChange(no)" class="question-no" [ngClass]="{'active': active[i], 'visited': visited[i], 'answered': answered[i]}">{{no}}</div>
      </div>
    </div>
    <div class="main-bar">
      <div class="title">
        <exam-title (navEmitter)="sidenav.toggle()"></exam-title>
      </div>
      <div class="question-panel">
        <form [formGroup]="questionForm">

          <div *ngFor="let no of questionNo; let i = index">
            <div class="question" *ngIf="currActive === no">
              <label [id]="'q'+no">
                {{no}}. &nbsp; {{ shuffledQuestion[i][0] }}
                <div *ngIf="shuffledQuestion[i][3]" class="code-container">
                  <div #codeDiv class="code-div">
                    <code>{{shuffledQuestion[i][3]}}</code>
                  </div>
                </div>
              </label>
              <mat-radio-group
                class="radio-group"
                (change)="onChange(this.questionForm.get(shuffledQuestion[i][2])?.value)"
                [formControlName]="shuffledQuestion[i][2]">
                <mat-radio-button [checked]="this.questionForm.get(shuffledQuestion[i][2])?.value === op" class="radio-button" *ngFor="let op of shuffledQuestion[i][1]" [value]="op">
                  <span class="wrap-mat-label">&nbsp; {{op}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

        </form>
      </div>
      <div class="action-panel">
        <div class="status-panel">
          <div class="status-el">
            <div class="status-circle-ans"></div>
            <div class="status-name">Questions<br>Answered</div>
            <div> &nbsp; {{ answeredCount }} </div>
          </div>
          <div class="status-el">
            <div class="status-circle-unans"></div>
            <div class="status-name">Not Answered</div>
            <div> {{ unansweredCount }} </div>
          </div>
          <div class="status-el">
            <div class="status-circle-unvis"></div>
            <div class="status-name">Not Visited</div>
            <div> {{ unvisitedCount }} </div>
          </div>
        </div>
        <div class="button-panel">
          <div class="btn-div-prev">
            <button [disabled]="currActive === 1" class="btn-style" mat-raised-button color="primary" (click)="onPrev()">Prev.</button>
          </div>
          <div class="btn-div-next">
            <button [disabled]="currActive === 30" class="btn-style" mat-raised-button color="primary" (click)="onNext()">Next</button>
          </div>
          <div class="btn-div-clear">
            <button [disabled]="!answered[currActive-1]" class="btn-style" mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
          <div class="btn-div-submit">
            <button [disabled]="(unvisitedCount !== 0 || !isSubmitAppears)" class="btn-style color-allow" mat-raised-button (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
